<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ajdt.launching.AspectJApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pkg4.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="webproject_Liu_0221"/>
</launchConfiguration>
